# PHPStorm
.idea

# OSX
.DS_Store

# Composer
vendor/
composer.lock

# Build stuff
.build/
node_modules/

# Custom
resources/js/descendants-chart-*.js
resources/js/descendants-chart-storage.js
# Allow minified file
!resources/js/descendants-chart-*.min.js
webtrees-descendants-chart.zip

# Playwright
.playwright-mcp/
