includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    # You can currently choose from 10 levels (0 is the loosest and "max" is the strictest).
    level: max

    paths:
        - src
        # If you have tests and want to analyze this folder, uncomment the line below
        # - test

    fileExtensions:
        - php

    excludePaths:
        - vendor/

    # Ignored errors
    ignoreErrors:
        - '#^Call to an undefined method Fisharebest\\Webtrees\\Module\\ModuleCustomInterface\:\:assetUrl\(\).$#'
